
bool printOnly true

string OutputDir output
string OutputRootFile plotter_8tev.root
string OutputPlotFile plotter_8tev.ps 

string BaseSelection passedFullSelection&&(mass4l>70.5&&mass4l<181.5) 
string BaseWeight scaleWeight*eventWeight*dataMC_weight

int nBinsM4l 37

string_array RunPeriods  Run1B
string_array SampleTypes  Data  MC_ZZ  MC_mH126

double globalLumi_Run1A  5.051
string InputDirectory_Run1A  rootfiles_7TeV_RMDUP
string_array RootFiles_Run1A Data_7TeV.root ZZ_4mu.root ZZ_4e.root ZZto4tau.root ZZ_2e2mu.root ZZto2mu2tau.root ZZto2e2tau.root ggZZ_2e2mu.root ggZZ_4l.root
string_array RootFiles_Type_Run1A  Data      MC_ZZ       MC_ZZ      MC_ZZ         MC_ZZ         MC_ZZ            MC_ZZ           MC_ZZ           MC_ZZ       
double_array RootFiles_Weight_Run1A 1.0      1.0         1.0        1.0           1.0           1.0              1.0             1.0             1.0         
string_array RootFiles_Tree_Run1A passedEventsNoDuplicate passedEvents_dataMC passedEvents_dataMC passedEvents_dataMC passedEvents_dataMC passedEvents_dataMC passedEvents_dataMC passedEvents_dataMC passedEvents_dataMC


double globalLumi_Run1B  19.712
string InputDirectory_Run1B  rootfiles_8TeV_RMDUP
string_array RootFiles_Run1B Data_8TeV.root ZZ_4mu.root ZZ_4e.root ZZto4tau.root ZZ_2e2mu.root ZZto2mu2tau.root ZZto2e2tau.root ggZZ_2e2mu.root ggZZ_4l.root mH_126_ggH_powheg15.root  
string_array RootFiles_Type_Run1B  Data      MC_ZZ       MC_ZZ      MC_ZZ         MC_ZZ         MC_ZZ            MC_ZZ           MC_ZZ           MC_ZZ        MC_mH126
double_array RootFiles_Weight_Run1B 1.0      1.0         1.0        1.0           1.0           1.0              1.0             1.0             1.0          1.0
string_array RootFiles_Tree_Run1B AnaAfterHlt/passedEvents passedEvents_dataMC passedEvents_dataMC passedEvents_dataMC passedEvents_dataMC passedEvents_dataMC passedEvents_dataMC passedEvents_dataMC passedEvents_dataMC passedEvents_dataMC



